html{
  scroll-behavior: smooth;
}

body {
  background-color: #e4decd;

}

.menu{
  background-color: rgba(9, 7, 6, 0.3);
   padding: 2%;

}


.itens_Menu{
  padding-top: 1%;
  line-height: 1.5;
  text-align: center;
  font-size: 1.3em;
}

.itens_Menu a:visited, .itens_Menu a:link{
  color: #030201;
  text-decoration: none;
  font-weight: bolder;

}

.itens_Menu a:hover{
  background-color: rgba(112, 26, 19, 0.4);
  padding: 0.5%;
}

.itens_Menu a:active{
  color: rgb(107, 29, 29);
}

.container{
  padding-top: 1%;
  line-height: 1.5;
  font-size: 1.3 em;
  text-align: left;
}

.container a:visited, .container a:link{
  color: rgb(18, 224, 111);
  text-decoration: none;
  font-weight: bolder;
}

.container a:hover{
  background-color: rgb(0, 0, 0);
  padding: o,5%;
}

.container a:active{
  color: blacks;


}



h1{
  font-size: 2em;
}

p {
  color: #000000;
  font-size:  1.5em;


}

h1,h2{
  color: #000000;
  text-align: center;
}

figure {
  text-align: center;
  
}
.container {
  width: 70%;
  margin: auto;
}

.img_topo {
  width: 50%;
  margin-top: 2%;
}

.img_corpo {

  width: 60%;
  margin-top: 2%;
  margin-bottom: 2%;


  }

#mais a:link, #mais a:visited {
  color: #000000;
}
  
#mais a:hover{
  color: rgb(122, 28, 28) ;
}
  
footer{
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2%;
  }

  
footer{
  background-color: rgba(236, 83, 0, 0.3);
  padding: 2%;
}

h3{
  text-align: center;
  font-size: 2em;
}

video {
  align-items: center;
  width: 379px;
 
}

img{
  width: 50%;
  
}
